 #Options -Indexes
<IfModule mod_headers.c>
	Header set Cache-Control "no-cache, no-store, must-revalidate"
	Header set Pragma "no-cache"
	Header set Expires 0
</IfModule>
RewriteEngine On
RewriteRule .* - [e=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^updateappstatus/([^/]+)/([^/]+)/([^/]+) updateappstatus.php?id=$1
#RewriteRule ^(.*) index.php?id=$1
#RewriteRule ^(.*)/updateappstatus(.*) updatestatus.php?id=$1 [L]
#RewriteRule ^/updateappstatus/i$ updateappstatus.php [NE,L]
#RewriteCond %{REQUEST_URI} updateappstatus
#RewriteRule ^ /updateappstatus.php [L,R]
RewriteRule ^(.*) index.php?id=$1
